.input {
    display: block;
}

.input__wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

.input__start-icon {
    position: absolute;
    top: 40px;
    left: 15px;
}

.input__label {
    font-size: var(--text-sm);
    display: block;
    margin-bottom: var(--space-xs);
}

.input__input {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: var(--text-sm);
    color: var(--black-1);
    width: 100%;
    padding: var(--space-sm);
    border: 1px solid var(--black-2);
    border-radius: 12px;
    outline: none;
    text-overflow: ellipsis;
}

.input__helper-text {
    margin: 2px 0;
    font-size: var(--text-sm);
}

.input__input--left-padding {
    padding-left: calc(var(--space-lg) + var(--space-xs));
}

.input__input--border-grey {
    border-color: var(--grey-1);
}

/* Order */
.input__input {
    order: 2;
}

.input__label {
    order: 1;
}

.input__helper-text {
    order: 3;
}

/* Selectors */
.input__input:focus {
    border: 2px solid var(--green);
}

.input__input::placeholder {
    color: var(--grey-1);
}

.input__input:focus ~ .input__label,
.input__input:focus ~ .material-icons {
    color: var(--green);
}

/* Error | Border Color */
.input__input--error,
.input__input--error:focus {
    border-color: var(--red);
}

/* Error | Label, Icon, Helper text Color */
.input__input--error ~ .input__helper-text,
.input__input--error ~ .input__start-icon,
.input__input--error:focus ~ .input__start-icon,
.input__input--error ~ .input__label,
.input__input--error:focus ~ .input__label {
    color: var(--red);
}
