.btn {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 16px;
    padding: var(--space-sm) calc(1.3 * var(--space-sm));
    border: none;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: var(--shadow);
}

.btn:hover {
    transition: 0.3s;
}

/* Variants */
.btn--success {
    background-color: var(--green);
}

.btn--success:hover {
    background-color: #2f8e55;
}

.btn--danger {
    background-color: var(--red);
}

.btn--danger:hover {
    background-color: #d01e1e;
}

.btn--text {
    background: none;
    box-shadow: none;
}

/* Colors */
.btn--grey {
    color: var(--grey-1);
}

.btn--white {
    color: var(--white);
}
