.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__col {
    width: 450px;
}

.navbar svg,
.navbar .input {
    display: inline-block;
}

.navbar svg {
    align-self: center;
    margin-right: var(--space-sm);
}

.navbar .input {
    flex: 1 1 auto;
}

/* Modal Layout Styles */
.navbar__modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 20%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar__modal--overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(79, 79, 79, 0.4);
    overflow: none;
}

@media (max-width: 767.98px) {
    .navbar {
        display: block;
    }

    .navbar__col {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .navbar .input {
        flex: 0 1 auto;
    }

    .navbar > .btn {
        font-size: var(--text-sm);
        padding: var(--space-sm);
        margin-top: var(--space-lg);
    }
}
