.App {
    min-height: 90vh;
    max-width: 100vw;
    margin: var(--space-md) var(--space-xl);
}

@media (max-width: 991.98px) {
    .App {
        margin: var(--space-sm) var(--space-md);
    }
}

@media (max-width: 767.98px) {
    .App {
        margin: 10px;
    }
}
